@page "/"
@inject HttpClient Http

<PageTitle>Index</PageTitle>

<h1>Status</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Address</th>
            <th>Last 5 minutes</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var target in _targets)
        {
            <tr>
                <td>@target.Address</td>
                <td></td>
            </tr>
        }
    </tbody>
</table>

@code {
    private List<Target> _targets = new();

    protected override async Task OnInitializedAsync()
    {
        var response = await Http.GetFromJsonAsync<List<Target>>("Targets");
        if (response is { } targets)
        {
            _targets = targets;
            StateHasChanged();
        }
    }
}